body{margin: 0%;padding: 0%;}
/*Contenido de la imagen*/
#arriba{border-bottom-right-radius: 10%;border-bottom-left-radius: 10%;background-color: rgb(67, 67, 67);
    padding: 1%;display: grid;grid-template-columns: 15% 60% 25%;gap: 1%;justify-content: center;text-align: center;}
#arribaAa{width: 150px;height: 110px;object-fit: cover;border-radius: 10%;box-shadow: -5px 2px 5px 2px rgb(69, 69, 69);}
#arribaAa:hover{cursor: pointer;transition: all 0.2s;box-shadow: -5px 2px 5px 2px rgb(225, 225, 225,0.8);}
.link{list-style: none;text-decoration: none;}
/*Contenido de la navegacion*/
#arribaB{color:white;}
/*Contenido de los contactos para que me contacte como usuario de creacion*/
#arribaC p{color:white;font-weight: 600;font-size: 1.5rem;position: relative;}
#arribaC p::before{content: " ";background-color: red;width: 20%;height: 1%;position: absolute;bottom: 0%;}
.whatsapp{width: 100%;text-align: center;}
.whatsapp a ion-icon{font-size: 2rem;color: white;}
.whatsapp a ion-icon:hover{color:rgb(255, 206, 206);box-shadow: -1px 3px 2px 2px rgb(255, 206, 206);transition: all 0.2s;cursor: pointer;}
/*-------------------------------*/
/*cuerpo*/
/*-------------------------------*/
#contenido{display: flex;width: 100%;}
#contenidoA{width: 20%;margin-right: 1%;}
#navegacion{background-color: rgb(247, 247, 247);}
.navegacionA{padding: 2%;padding-top: 5%;padding-bottom: 5%;text-align: right;background-color: rgb(235, 235, 235);margin-bottom: 1%;
position: relative;}
.navegacionA a{text-decoration: none;color: rgb(100, 100, 100);list-style: none;font-weight: 600;font-size: 1.2rem;}

.navegacionA:hover{color: rgb(255, 255, 255);background-color: rgb(255, 255, 255);cursor: pointer;transition: all 0.2s;}
.navegacionAactivo{background-color: rgb(200, 224, 224);}
.navegacionAactivo .flechaIzquierda {
    visibility: visible; /* Sólo visible en el activo */
  }
#contenidoB{width: 76%;}
/**/
#home{background-color: rgb(200, 224, 224);padding: 2%;padding-top: 0.2%;position: relative;}
.flechaIzquierda {position: absolute;top: 10%;right: -6%; width: 0;height: 0;border-top: 25px solid transparent;border-bottom: 25px solid transparent;
    border-right: 25px solid rgb(200, 224, 224);visibility: hidden; /* Inicialmente oculto */
  }
/*para la navegacion */
#bitelA{display: none;}
#bitelB{display: none;}
#bitelC{display: none;}
/*diseño de bitelA*/
.titulo{text-align: center;font-size: 2rem;font-weight: 600;position: relative;}
.titulo::before{content: " ";background-color: rgb(73, 73, 73);width: 20%;height: 1%;position: absolute;bottom: 0%;}
/*contenido par amostrar y editar de los datos del formulario*/
.planesA {background-color: rgb(210, 224, 224);overflow-x: hidden;width: 100%;cursor: pointer;}
.slider {overflow: hidden;width: 100%;display: flex;}
.carrusel {flex: 0 0 auto;position: relative;box-sizing: border-box;margin-right: 0.1%;width: 50px;}
.carrusel {
  -webkit-user-select: none;  /* Chrome, Safari, Opera */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
  user-select: none;          /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
#tns1 > .tns-item {padding: 0 !important;}

.eliminarCarrusel{position: absolute;top: 0%;left: 0%;color: white;border-top-left-radius: 10%;
  padding: 5px 10px;cursor: pointer;background-color: rgba(255, 0, 0, 0.7);z-index: 1;}
  .eliminarCarrusel:hover{background-color: rgb(176, 0, 0);;transition: all 0.2s;cursor: pointer;}
  .editarCarrusel {position: absolute;top: 0%;right: 0%;color: white;padding: 5px 10px;cursor: pointer;border-top-right-radius: 10%;
  background-color: rgba(54, 138, 15, 0.7);z-index: 100;}
  .editarCarrusel:hover{background-color: rgb(40, 101, 11);transition: all 0.2s;cursor: pointer;}

  .contenidoCarrusel {padding: 8%0%;width: 100%;background-color: white;border-radius: 8px;height: 80%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);text-align: center;}
  .extraDatosCarrusel{display: flex;height: 10%;width: 100%;}
  .precioBaseCarrusel{font-size: 4rem;font-weight: 600;height: 80%;text-align: center;}
  .precioPromocioncalCarrusel{font-size: 1rem;font-weight: 600;height: 80%;text-align: left;width: 48%;margin-left: 2%;}
  .tipoChipCarrusel{font-size: 1rem;font-weight: 600;height: 80%;text-align: right;width: 48%;}
  #confirmarEliminarCarrusel{position: fixed;background-color: rgb(206, 253, 255);top: 25%;z-index: 2;left: 0%;right: 0%;width: 40%;
    margin-left: 30%;cursor:auto;
  padding: 2%;animation: ease-in-out 0.6s animacion;opacity: 98%;
  }
  #confirmarEliminarCarrusel p{text-align: center;font-size: 1.5rem;font-weight: 600;}
  #confirmarEliminarCarrusel div{}
  .confirmarEliminarCarrusel{display: grid;grid-template-columns: 48%48%;gap: 2%;text-align: center;justify-content: center;}
  .confirmarEliminarCarruselA{background-color: rgb(158, 158, 158);padding: 3%6%;cursor: pointer;color: white;font-weight: 600;font-size: 1.2rem;}
  .confirmarEliminarCarruselA:hover{transition: all 0.2s;background-color: rgb(197, 197, 197);}
  .confirmarEliminarCarruselB{background-color: red;padding: 3%6%;cursor: pointer;color: white;font-weight: 600;font-size: 1.2rem;}
  .confirmarEliminarCarruselB:hover{transition: all 0.2s;background-color: rgb(255, 155, 155);}
  @keyframes animacion{
    0%{top: 0%;}
  }
/**/
.planesB{}
.planesBA{display: grid;grid-template-columns: repeat(auto-fill,30%);gap: 1%;text-align: center;justify-content: center;}
.planesBAlink{background-color:rgb(224, 224, 224);padding: 2%;border-radius: 2%;cursor: pointer;color: rgb(100, 100, 100);}
.planesBAlink:hover{background-color: white;transition: all 0.2s;}
.planesBAlinkActivo{background-color: rgb(179, 203, 203);visibility: visible; /* Sólo visible en el activo */}
#formularioPlanesA{display: none;}
#formularioPlanesB{display: none;}
#formularioPlanesC{display: none;}
/**/
#planMovilFormIlimitadoA {display: grid;grid-template-columns: repeat(auto-fill,45%);justify-content: center;}
.eleccionFormA {display: flex;justify-content: flex-start;}
.inputRadioA {background: #ffffff;border-radius: 50px;margin: 1%;overflow: hidden;position: relative;width: 30%;display: flex;
  justify-content: flex-start;align-items: center;padding: 0%;}
.inputRadioInput{-webkit-appearance: none;appearance: none;position: absolute;opacity: 0;
  cursor: pointer;width: 100%;height: 100%;z-index: 2;
}
.inputRadioInput + .inputRadioLabel {position: relative;z-index: 1;
  cursor: pointer;width: 100%;
  text-align: center;
}
.inputRadioInput:checked + .inputRadioLabel{padding: 4%;background-color: rgb(50, 50, 50);color: white;
  border-radius: 50px;position: relative;}
.inputRadioInput:checked + .inputRadioLabel::before{content: " ";position: absolute;bottom: 0%;z-index: 2;background-color: rgb(99, 225, 247);
  width: 100%;height: 1px;left: 0%;
}
/*formulario*/
.label {margin-bottom: 12px;display: block;font-weight: bold;color: black;}
.input{background-color: transparent;padding: 2% 1%;border-radius: 1%;font-size: 1.1rem;color: rgb(91, 91, 91,0.9);
  margin-bottom: 3%;border: 2px solid rgb(91, 91, 91,0.5);width: 80%;}
.input[type="number"]::-webkit-inner-spin-button {
  height: 50px;
}
.input[type="number"]::-webkit-inner-spin-button {
  height: 50px;
}
.elegirPlanIlimitado{background-color: transparent;padding: 2% 1%;border-radius: 1%;font-size: 1.1rem;color: rgb(91, 91, 91,0.9);
  margin-bottom: 3%;border: 2px solid rgb(91, 91, 91,0.5);width: 83%;}
#envio button{width: 60%;margin-left: 20%;
  border-radius: 5%;background-color: transparent;text-align: center;padding: 1%1%;}
#envio button[type="submit"] {background-color: transparent;color: rgb(0, 0, 0);font-size: 1.1rem;border: none;cursor: pointer;
  padding: 1% 6%;transition: background-color 0.3s ease;border: solid 1px rgb(91, 91, 91,0.5);}
#envio button:hover {background-color: rgba(179, 203, 203);cursor: pointer;transition: all 0.2s;}

.subirArchivo {display: flex;align-items: center;gap: 2%;}
.subirArchivoBoton {padding: 6px 12px;background-color: #007bff;color: white;
  border: none;border-radius: 4px;cursor: pointer;}
#previsualizarImagen {display: flex;width: auto;}
#imagePreview {max-height: 100px;width: auto;transition: transform 0.3s ease, max-height 0.3s ease;cursor: pointer;display: block;}
#imagePreview.zoomed {transform: scale(8);z-index: 1000;position: fixed;top: 50%;left: 50%;
  transform: translate(-50%, -50%) scale(8);max-height: none;}
/**/