<div id='arriba'>
  <div id='arribaA'>
    <a href='/' class="link">
      <img id='arribaAa' src='/img/{{imagen}}' alt='Logo de tienda pastrana' />
    </a>
  </div>
  <div id="arribaB">
    Hola
  </div>
  <div id='arribaC'>
    <p>Contactame</p>
    <div class="whatsapp">
      <a href="" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a>
    </div>
  </div>
</div>