<div id='navegacion' onclick="activarNavegacion(event.currentTarget)">
  <div class="navegacionA navegacionAactivo">
    <div class="flechaIzquierda"></div>
    <a href="#Planes">
      Planes Moviles
    </a>
  </div>
  <div class="navegacionA" onclick="activarNavegacion(event.currentTarget)">
    <div class="flechaIzquierda"></div>
    <a href="#Internet">
      Internet Hogar
    </a>
  </div>
  <div class="navegacionA" onclick="activarNavegacion(event.currentTarget)">
    <div class="flechaIzquierda"></div>
    <a href="#Accesorios">
      Accesorios o Celular
    </a>
  </div>
</div>