<div id='navegacion'>
  <div class="navegacionA">
    <a href="/planes">
      Planes Moviles
    </a>
  </div>
  <div class="navegacionA">
    <a href="/internet">
      Internet Hogar
    </a>
  </div>
  <div class="navegacionA">
    <a href="/accesorios">
      Accesorios o Celular
    </a>
  </div>
</div>